@{
    ViewData["Title"] = "Category Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center">
    <h1>Category Progress</h1>
    <a class="btn btn-lg btn-secondary" asp-action="Index">Back To Reports Dashboard </a>

</div>
<h3>Overall completion count per category</h3>
<p class="badge badge-primary badge-pill">Progress Records Completed</p>
<div class="row mt-4 text-center mx-auto">
    <div class="card col-lg-4 bg-light mb-1 text-center">
        <h4 class="card-title">SSOW New Starter</h4>
        <p class="badge badge-primary badge-pill"> @ViewData["ssowNew"]</p>
    </div>
    <div class="card col-lg-4 bg-light mb-1 text-center">
        <h4 class="card-title">SSOW Refresh Q1</h4>
        <p class="badge badge-primary badge-pill">  @ViewData["ssowRQ1"]</p>
    </div>
    <div class="card col-lg-4 bg-light mb-1 text-center">
        <h4 class="card-title">SSOW Refresh Q2</h4>
        <p class="badge badge-primary badge-pill">  @ViewData["ssowRQ2"]</p>
    </div>
    <div class="card col-lg-4 bg-light mb-1 text-center">
        <h4 class="card-title">SSOW Refresh Q3</h4>
        <p class="badge badge-primary badge-pill"> @ViewData["ssowRQ3"]</p>
    </div>
    <div class="card col-lg-4 bg-light mb-1 text-center">
        <h4 class="card-title">SSOW Refresh Q4</h4>
        <p class="badge badge-primary badge-pill">  @ViewData["ssowRQ4"]</p>
    </div>
    <div class="card col-lg-4 bg-light mb-1 text-center">
        <h4 class="card-title">JollyDeck Essential</h4>
        <p class="badge badge-primary badge-pill">  @ViewData["jollydeckE"]</p>
    </div>
    <div class="card col-lg-4 bg-light mb-1 text-center">
        <h4 class="card-title">JollyDeck Optional</h4>
        <p class="badge badge-primary badge-pill">  @ViewData["jollydeckO"]</p>
    </div>
</div>
