@model IEnumerable<TrainingTracker.Models.Note>

@{
    ViewData["Title"] = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="text-align:center; padding:1em; margin:0;">
    <h1>@ViewData["EmployeeName"]'s Notes</h1>
    <hr />
    <div class="row">

        <div class="col-md-6 mt-2">
            <div class=" text-center">
                <h5 class="card-title">New Note</h5>
                @Html.ActionLink(
                                 " +", "Create", "Notes",
                                 new { employeeId = @ViewData["EmployeeId"], employeeName = @ViewData["EmployeeName"] },
                                 new { @class = "btn btn-success btn-lg mb-1 fas fa-sticky-note" })
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="text-center">
                <h5 class="card-title">Back To Employee List</h5>
                <a class="btn btn-secondary" asp-area="" asp-controller="Employees" asp-action="Index"><i class="fas fa-users"></i>  Employees</a>
            </div>

        </div>

    </div>
</div>
<hr />
<div class="row">
    @* Show that there are no notes, if none exist. *@
    @if (!Model.Any())
    {
        <div class="text-center mx-auto">
            <h1 class="alert-danger">There are currently no notes.</h1>
            <p>Try creating some!</p>
        </div>
    }
    else
    {
        @* For each note, display it as a boostrap card. *@
        @foreach (var item in Model)
        {
            <div class="col-sm-4  mb-2 mt-2 text-center">
                <div class="card bg-light">
                    <div class="card-body">
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.NoteContent)
                            <div class="btn-group-lg text-center">
                                @Html.ActionLink(
                               "", "Edit", "Notes",
                               new { id = item.NoteId, employeeName = @ViewData["EmployeeName"] },
                               new { @class = "btn btn-primary btn-lg mb-1 fas fa-edit" })

                                @Html.ActionLink(
                               "", "Delete", "Notes",
                               new { id = item.NoteId, employeeName = @ViewData["EmployeeName"] },
                               new { @class = "btn btn-danger btn-lg mb-1 fas fa-trash" })
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
