@model TrainingTracker.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Progress</h1>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
    <hr />
    <dl class="row ">
        <dd class="col-sm-10">
            <table class="table  bg-light">
                <tr>
                    <th>Training Category</th>
                    <th>Training Module</th>
                    <th>Completed?</th>
                </tr>
                @foreach (var item in Model.Progresses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Training.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Training.ModuleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Completed)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId"><i class="btn btn-lg btn-primary fas fa-edit"></i></a> |
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
