@model PaginatedList<TrainingTracker.Models.Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="text-align:center; padding:1em; margin:0;">
    <h1>Employees</h1>
    <a class="btn btn-lg btn-secondary" asp-controller="Home" asp-action="Index">Back To Home Dashboard </a>

    <hr />
    <div class="row">
        <div class="col-md-4 mt-2">
            <form asp-action="Index" method="get">
                <h5>Search Employees</h5>
                <div class="form-group">
                    <input class=" form-control-sm mb-1 " placeholder="John Smith..." type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                </div>
                <div class="form-group">
                    <input pattern="[\s]" type="submit" value="Search" class="btn btn-primary btn-lg" />
                </div>
            </form>
        </div>
        <div class="col-md-4 mt-2">
            <div class="btn-group-vertical text-center">
                <h5 class="card-title">New Employee</h5>
                <a class="btn btn-lg  btn-success mt-1" asp-action="Create"><i class="fas fa-user-plus"></i></a>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <h5>Options</h5>
            <div class="btn-group-vertical text-center">
                <a class="btn btn-info btn-lg" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Filter by Surname (desc)</a>
                <a asp-action="Index" class="btn btn-lg btn-info mt-1">Remove Filters/Search</a>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="row">
    @if (!Model.Any())
    {
        <div class="text-center mx-auto">
            <h1 class="alert-danger">There are currently no employees.</h1>
            <p>You can try creating an employee, or review the search advice below.</p>
            <p>You searched: <b>@ViewData["CurrentFilter"].</b> Please ensure that your search is:</p>
            <p>An employee that exists at this store, the correct spelling, the correct spacing and the correct order: "Firstname Lastname".</p>
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="col-sm-4  mb-2 mt-2 text-center">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</h5>
                        <p class="card-text">
                            <div class="btn-group-lg text-center">
                                <a asp-action="Edit" asp-route-id="@item.EmployeeId"><i class="btn btn-sm btn-secondary fas fa-user-edit mb-1"></i></a>

                                <a asp-action="Delete" asp-route-id="@item.EmployeeId"><i class="btn btn-sm btn-danger fas mb-1 fa-trash"></i></a>
                            </div>
                            <hr />
                            <div>
                                @Html.ActionLink(
                             " Progress Records", "Index", "Progresses",
                             new { id = item.EmployeeId, employeeName = item.FirstName + " " + item.LastName },
                             new { @class = "btn btn-lg mb-1 btn-primary fas fa-list-alt" })
                            </div>
                            <div>
                                @Html.ActionLink(
                             " Notes", "Index", "Notes",
                             new { id = item.EmployeeId, employeeName = item.FirstName + " " + item.LastName },
                             new { @class = "btn btn-lg mb-1 btn-primary fas fa-sticky-note" })
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<partial name="_PaginationPartial" />
