@model IEnumerable<TrainingTracker.Models.Progress>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Progress Records</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Training.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Training.ModuleName)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgressId">Edit</a>
                @* <a asp-action="Details" asp-route-id="@item.ProgressId">Details</a> |*@
                @* <a asp-action="Delete" asp-route-id="@item.ProgressId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
